<h1>hello butt hole</h1>

<% if current_user %>
  <h1>email: <%= current_user.email %></h1>
  <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %> | <%= link_to "Edit my Account Password", edit_user_registration_path %>

<% if current_user.interests.any? %>
  <h4>Here is a list of your interestests:</h4>

  <ul>
    <% @user.interests.each do |interest| %>
    <% if interest.searchable === false %>
      <li>

        <%= interest.interest_name %> |  <%= link_to "Delete", user_interest_path(@user, interest),
                                                                :data => {:confirm => "Are you sure?",
                                                                          :method => "delete"} %>
        |
        <% if @user.interests.where(searchable: true).count < 5 %>
        <%= form_for [@user, interest] do |f| %>

          <%= f.label 'Make Searchable'  %>
          <%= f.check_box :searchable %>
          <%= f.submit %>
          <% end %>
          <% else %>
          <p>Max Searchable Interests reached</p>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>YOU HAVE NO INTERESTS!  Add some ya poopy poop.</p>
  <%= link_to 'CLICK HERE TO ADD SOME INTERESTS', new_user_interest_path(@user) %>
<% end %>
<br>
<br>
<%= link_to "ADD AN INTEREST", new_user_interest_path(@user) %>
<% end %>

<div class="searchable-interests">
  <h1>Here are searchable interests</h1>
  <% if current_user %>
  <ul>
    <% @user.interests.each do |searchableInterest| %>
    <% if searchableInterest.searchable %>
    <li><%= searchableInterest.interest_name %> | <%= form_for [@user, searchableInterest] do |f| %>

      <%= f.label 'Make room for other interests'  %>
      <%= f.check_box :searchable %>
      <%= f.submit %></li>
      <% end %>
    <% end %>
    <% end %>
  </ul>
  <% end %>

</div>

<ul>
  <li><%= link_to "Sign Up", new_user_registration_path %></li>

  <li><%= link_to "Sign In", new_user_session_path %></li>
  <li><%= link_to "Sign Up", new_user_registration_path %></li>

  <li>User Sign Out</li>
  <li>User Sign in</li>
</ul>
